:root {
    --main-bg-color: #19fe79;
    --display-bg-color: #242424;
    --display-font-size-current: 2rem;
    --display-fomt-size-prev: 1.5rem;
}

@font-face {
    font-family: "Commodore64";
    src: url(./fonts/commodore_64/Commodore-64-v6.3.TTF);
}

* {
    box-sizing: border-box;
    font-family: "Commodore64";
}

body {
    background-color: var(--main-bg-color);
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/*            >     CALCULATOR BODY     <                                     */
/*                                                                            */
/* -------------------------------------------------------------------------- */
.calc-body {
    width: 360px;
    height: 450px;
    display: flex;
    flex-direction: column;
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/*            >     DISPLAY     <                                             */
/*                                                                            */
/* -------------------------------------------------------------------------- */
.display {
    width: 100%;
    height: 100px;
    background-color: var(--display-bg-color);
    color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

.time-date {
    height: 20px;
}

.display-calc {
    height: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
    text-align: end;
}

.display-calc-prev {
    font-size: var(--display-font-size-prev);
    height: var(--display-font-size-prev);
}

.display-calc-current {
    font-size: var(--display-font-size-current);
    height: var(--display-font-size-current);
}
/* -------------------------------------------------------------------------- */
/*                                                                            */
/*            >     BUTTON AREA     <                                         */
/*                                                                            */
/* -------------------------------------------------------------------------- */
.buttons {
    display: flex;
    margin-top: 40px;
}

.number-buttons,
.hidden-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 300px;
}

.operators {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.button, 
.operator,
.hidden-buttons > div {
    width: 60px;
    height: 22px;
    text-align: center;
    padding-top: 5px;
}

.button:hover,
.operator:hover {
    background-color: var(--display-bg-color);
    color: var(--main-bg-color);
    cursor: pointer;
}

.hidden-buttons {
    margin-bottom: 40px;
}

